        <div class="sidebar" data-image="/static/assets/img/sidebar-5.jpg">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
            Tip 2: you can also add an image using data-image tag -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="https://github.com/app-generator/flask-dashboard-light-bootstrap" class="simple-text">
                        Get Code
                    </a>
                </div>
                <ul class="nav">
                    {{ siderbarmenu("/","Dashboard",'nc-chart-pie-35') }} 
                    {{ siderbarmenu("/user.html","User Profile",'nc-circle-09') }}
                    {{ siderbarmenu("/table.html","Table List",'nc-notes') }}
                    {{ siderbarmenu("/typography.html","Typography",'nc-paper-2') }}
                    {{ siderbarmenu("/icons.html","Icons",'nc-atom') }}
                    {{ siderbarmenu("/notifications.html","Notifications",'nc-bell-55') }}


                   
                    <li>
                        <a class="nav-link" href={{ url_for('logout') }}>
                            <i class="nc-icon nc-single-02"></i>
                            <p>Logout</p>
                        </a>
                    </li>

                   
                    <li>
                        <a class="nav-link" href={{ url_for('login') }}>
                            <i class="nc-icon nc-single-02"></i>
                            <p>Login</p>
                        </a>
                    </li>

                   
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="https://appseed.us">
                            <i class="nc-icon nc-spaceship"></i>
                            <p>APPSEED</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

